* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 120%;
}

body {
  background-color: #f5f4f0;
  color: #333333;
}

#container {
  width: 1120px;
  margin: 88px auto 65px;
}

header {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#title {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
span {
  font-size: 16px;
  font-weight: bold;
  color: #e1624f;
  text-transform: uppercase;
}
h1,
h2,
h3 {
  color: #1b1b1b;
}

h1 {
  font-size: 36px;
  line-height: 49px;
}

#description {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
img {
  border-radius: 28px; /* Adicionar o arredondamento da borda */
  width: 100%; /* imagem ocupa 100% do tamanho disponível pra ela */
}
#description p {
  font-size: 16px;
  line-height: auto;
  font-style: italic; /* Adicionar na doc */
  text-align: center;
  color: #333333;
}
.divider {
  /* Adicionar na doc */
  width: 100%;
  height: 1px;
  margin: 40px 0 64px;
  background-color: #d9d9d9;
}

#titleList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

h2 {
  font-size: 32px;
  line-height: 44px;
}

p {
  font-size: 16px;
  text-align: justify;
  line-height: 22px;
}

#cardTravel img {
  height: 350px;
  object-fit: cover;
  margin: 48px 0 20px;
}

h3 {
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 4px;
}

ul {
  list-style-type: disc; /* bolinha preenchida */
}
li {
  margin-left: 40px;
  font-weight: bold;
}

ul li::marker {
  color: #333333;
}

footer img {
  width: 14px;
  height: 14px;
}

.accent-blue {
  color: #0c51a7;
}

.accent-purple {
  color: #591b98;
}

.accent-pink {
  color: #e5245e;
}

.accent-orange {
  color: #e95e10;
}